body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #111312; /* visible text */
}

header {
  background-color: #4800ff;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

nav {
  background-color: #333;
  text-align: center;
  padding: 10px;
}

nav a {
  color: rgb(89, 116, 22);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  display: inline-block;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
}
